---
- name: Retrieve certification test results
  become: true
  shell: rhcert-ci print --format {{ openstack_certification_output_format }} | tail -n +2 | tee {{ openstack_certification_output_filename }}
  args:
    creates: '{{ openstack_certification_output_filename }}'

- name: Download output file
  become: true
  fetch:
    src: '{{ openstack_certification_output_filename }}'
    dest: "{{ openstack_certification_dest_dir }}/{{ openstack_certification_output_filename.split('.')[0] }}_{{ ansible_hostname }}.{{ openstack_certification_output_filename.split('.')[1] }}"
    flat: true

- block:
    - name: Compress results file
      become: true
      archive:
        path: /var/rhcert/results.xml
        format: gz

    - name: Download results file
      become: true
      fetch:
        src: '/var/rhcert/results.xml.gz'
        dest: "{{ openstack_certification_dest_dir }}/certification_{{ ansible_hostname }}.xml.gz"
        flat: true
  when: openstack_certification_results_download|bool
