---
- name: Install Red Hat Certification rpms
  include: prepare.yml

- name: Run tests
  include: run_tests.yml

- name: Download artifacts
  include: artifacts.yml

- name: Tempest cleanup
  become: true
  file:
    path: /tmp/tempest-lock
    state: absent
  when: "'tempest_config' in openstack_certification_tests"
