---
- name: Install Red Hat Certification rpms
  include: prepare.yml

- name: Test if rhosp-release is available (OSP10 and above)
  package:
    list: rhosp-release
  register: rhosp_status

- name: Install rhosp-release
  become: true
  package:
    name: rhosp-release
    state: latest
  when: rhosp_status.results|length >= 1

- name: Combine all certification tags, tests and programs
  set_fact:
    all_certification_types: '{{ openstack_certification_tags }} + {{ openstack_certification_tests }} + {{ openstack_certification_programs }}'

- block:
    - name: Register keystone_auth_url
      shell: "source {{ openstack_certification_overcloudrc }} && echo \"$OS_AUTH_URL\""
      register: keystone_auth_url

    - name: Register admin_username
      shell: "source {{ openstack_certification_overcloudrc }} && echo \"$OS_USERNAME\""
      register: admin_username

    - name: Register admin_password
      shell: "source {{ openstack_certification_overcloudrc }} && echo \"$OS_PASSWORD\""
      register: admin_password

    - name: Register admin_tenant_name
      shell: "source {{ openstack_certification_overcloudrc }} && echo \"$OS_TENANT_NAME\""
      register: admin_tenant_name

    - name: Register admin_project_name
      shell: "source {{ openstack_certification_overcloudrc }} && echo \"$OS_PROJECT_NAME\""
      register: admin_project_name

    - name: Create the test_config.json file
      become: true
      template:
        src: test_config.json.j2
        dest: /etc/redhat-certification-openstack/test_config.json

    - name: copy the tempest configuration file
      become: true
      copy:
        src: '{{ openstack_certification_tempest_conf_path }}'
        dest: /etc/redhat-certification-openstack
        remote_src: '{{ openstack_certification_tempest_conf_path_is_remote|bool }}'
      when: openstack_certification_tempest_conf_path is defined
  when: "'baremetal' not in all_certification_types"

- name: Create the baremetal.json file
  become: true
  template:
    src: baremetal.json
    dest: /etc/redhat-certification-openstack/baremetal.json
  when: "'baremetal' in all_certification_types"

- name: Run certification test suite with tag argument
  become: true
  shell: >
    set -x
    rhcert-ci clean all && rhcert-ci run --tag {{ item }} && rhcert-ci save
  with_items: "{{ openstack_certification_tags }}"
  ignore_errors: true
  when: openstack_certification_test_type == "tag"

- name: Run certification test suite with program argument
  become: true
  shell: >
    set -x
    rhcert-ci clean all && rhcert-ci run --program {{ item }} && rhcert-ci save
  with_items: "{{ openstack_certification_programs }}"
  ignore_errors: true
  when: openstack_certification_test_type == "program"

- name: Run certification test suite with test argument
  become: true
  shell: >
    set -x
    rhcert-ci clean all && rhcert-ci run --test {{" --test ".join(openstack_certification_tests)}} && rhcert-ci save
  ignore_errors: true
  when: openstack_certification_test_type != "tag" and openstack_certification_test_type != "program"

- name: Retrieve certification test results
  become: true
  shell: rhcert-ci print --format {{ openstack_certification_output_format }} | tail -n +2 | tee {{ openstack_certification_output_filename }}

- name: Download output file
  become: true
  fetch:
    src: '{{ openstack_certification_output_filename }}'
    dest: "{{ openstack_certification_dest_dir }}/{{ openstack_certification_output_filename }}"
    flat: true

- block:
    - name: Compress results file
      become: true
      archive:
        path: /var/rhcert/results.xml
        dest: /home/stack/certification.xml.gz
        format: gz

    - name: Download results file
      become: true
      fetch:
        src: 'certification.xml.gz'
        dest: "{{ openstack_certification_dest_dir }}/certification.xml.gz"
        flat: true
  when: openstack_certification_results_download|bool

- name: Tempest cleanup
  become: true
  file:
    path: /tmp/tempest-lock
    state: absent
  when: "'tempest_config' in openstack_certification_tests"
