---
- name: Subscribe to rhel-7-server-cert-rpms
  become: True
  shell: subscription-manager repos --enable=rhel-7-server-cert-rpms
  when: openstack_certification_enable_rhsm_repo

- name: Copy an openstack certification repository
  become: True
  copy:
    src: "{{ openstack_certification_repo file }}"
    dest: /etc/yum.repos.d/{{ openstack_certification_repo file | basename }}
  when: openstack_certification_repo file is defined

- name: Install Red Hat certification packages
  become: True
  package:
    name: '{{ item }}'
    state: present
  with_items: "{{ openstack_certification_install_rpms }}"
