{
  "keystone_auth_url" : "{{ keystone_auth_url.stdout }}",
  "admin_username": "{{ admin_username.stdout }}",
  "admin_password": "{{ admin_password.stdout }}",
  "admin_tenant_name": "{{ admin_project_name.stdout if admin_tenant_name.stdout == '' else admin_tenant_name.stdout }}",
  "supported_apis_and_extensions": [{{ '"%s"' % '","'.join(openstack_certification_supported_apis_and_extensions) }}],
  "overcloud_node_ip": "{{ openstack_certification_overcloud_node_ip }}"
}
